@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET é um framework web gratuito para construir otimos sites e aplicações Web usando HTML, CSS e JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC Oferece uma maneira poderosa, baseada em padrões, de criar sites dinâmicos que
            Permite uma separação limpa das preocupações e dá-lhe controle total sobre a marcação para
            um desenvolvimento agradável e ágil.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Obter mais bibliotecas</h2>
        <p>NuGet É uma extensão gratuita do Visual Studio que facilita a adição, remoção e atualização de bibliotecas e ferramentas em projetos do Visual Studio.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hospedagem Web</h2>
        <p>YVocê pode facilmente encontrar uma empresa de hospedagem na web que ofereça a combinação certa de características e preço para seus aplicativos.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>